@model BSIT3L_Movies.Models.MovieViewModel

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Name</title>
</head>
<body>
    <div class="content">
        <h4>@Model.Name</h4>
        <p>@Model.Description</p>
        <p1>@Model.Details</p1>   <a href="@Model.Details">Teaser</a>
            <div class="cl">&nbsp;</div></div>
        <div class="cl">&nbsp;</div>
    </div>
    </div>
</body>
</html>
